<main class="main wrapper">
  <include src="./preview.html"></include>
  <form class="refillable js-form " action="/signup" method="post" id="form" class="form" autocomplete="off">
    <div class="js-hidden">
      <include src="./collapsable-header.html" title="Diseña" icon="far fa-object-ungroup"></include>
      <include src="./section-design.html"></include>
    </div>

    <div class="js-hidden hidden">
      <include src="./collapsable-header.html" title="Rellena" icon="far fa-keyboard"></include>
      <include src="./section-fill.html"></include>
    </div>

    <div class="js-hidden hidden">
      <include src="./collapsable-header.html" title="Comparte" icon="fas fa-share-alt"></include>
      <include src="./section-share.html"></include>
    </div>
  </form>
</main>