<main class="landing central-column">
  <img
    src="./assets/images/listen-logo.png"
    alt="logo-awesome-profile-cards"
    class="landing__logo"
  />

  <div class="title-wrapper">
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <h2 class="landing__subtitle">
      Apúntate al networking sostenible de forma fácil, cómoda y... ¡al ritmo de la música!
    </h2>
  </div>
  

  <section>
    <ul class="landing__wrapper">
      <li class="landing__icon-design">
        <i class="landing__icon--icon far fa-object-ungroup frame"></i>
        <p class="landing__icon--text">Diseña</p>
      </li>

      <li class="landing__icon-fill">
        <i class="landing__icon--icon fas fa-keyboard"></i>
        <p class="landing__icon--text">Rellena</p>
      </li>

      <li class="landing__icon-share">
        <i class="landing__icon--icon fas fa-share-alt share"></i>
        <p class="landing__icon--text">Comparte</p>
      </li>
    </ul>
  </section>

  <div>
    <a href="./card.html" class="landing__link">
      <span class="landing__link-text">COMENZAR</span></a
    >
  </div>
</main>
