<section class="page__preview">
  <button class="page__preview--button js-resetButton">
    <i class="far fa-trash-alt"></i>Reset
  </button>
  <div class="page__preview--card js-cardElement opt1">
    <div class="preview__card--title-wrapper js-op__wrapper">
      <h2 class="preview__card--title js-namePreview js-op__name">
        Nombre Apellido
      </h2>
      <h3 class="preview__card--subtitle js-jobPreview">Front-end developer</h3>
    </div>
    <div class="preview__card--image js-imgPreview"></div>
    <ul class="preview__card--rrss">
      <li class="rrss-item js-op__circle js-op1__circle1">
        <a
          class="rrss-link fas fa-mobile-alt js-telPreview js-op__icon js-op1__icon1"
          href="tel:+34"
          target="_blank"
        ></a>
      </li>
      <li class="rrss-item js-op__circle js-op1__circle2">
        <a
          class="rrss-link fas fa-envelope js-mailPreview js-op__icon js-op1__icon2"
          href="mailto:"
          target="_blank"
        ></a>
      </li>
      <li class="rrss-item js-op__circle js-op1__circle3">
        <a
          class="rrss-link fab fa-linkedin-in js-linkedinPreview js-op__icon js-op1__icon3"
          href="https://www.linkedin.com/in/"
          target="_blank"
          ><div class="icon"></div
        ></a>
      </li>
      <li class="rrss-item js-op__circle js-op1__circle4">
        <a
          class="rrss-link fab fa-github-alt js-gitHubPreview js-op__icon js-op1__icon4"
          href="https://github.com/"
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</section>
