<fieldset class="section-fill container">
  <div class="hidden-content form-padding">
    <label class="label" for="name">Nombre completo</label>
    <input class="input js-inputName" type="text" id="name" name="name" maxlength="19" placeholder="Ej: Sally Jill" required />
    <label class="label" for="job">Puesto</label>
    <input class="input js-inputJob" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" required maxlength="21" />
    <label class="label" for="photo">Imagen de perfil</label>
    <div class="action">
      <label class="action__upload-btn" for="photo">Añadir imagen</label>
      <input class="action__hiddenField js-inputImg" type="file" id="photo" name="photo" value="añadir imagen" required />
      <div class="profile__preview js__profile-preview"></div>
    </div>
    <label class="label" for="email">Email</label>
    <input class="input js-inputEmail" type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" required />
    <label class="label" for="phone">Teléfono</label>
    <input class="input js-inputPhone" type="tel" id="phone" name="phone" pattern="[0-9]{9}" title="El número debe contener 9 dígitos" placeholder="Ej: 555-55-55-55" required />
    <label class="label" for="linkedin">Linkedin</label>
    <input class="input js-inputLinkedin" type="text" id="linkedin" name="linkedin" placeholder="Ej: sally-hill" required />
    <label class="label" for="github">Github</label>
    <input class="input js-inputGitHub" type="text" id="github" name="github" placeholder="Ej: sally-hill" required />
  </div>
</fieldset>