<fieldset class="section-design container">
  <div class="selection hidden-content">
    <h3 class="selection__title">Colores</h3>
    <div class="selection__options">
      <label for="coloroption1" class="selection__options--palette">
        <input id="1" type="radio" value="1" name="palette" class="selection__options--input js-colorOption js-paletteDefault" checked/>
        <div class="palette palette__cold1"></div>
        <div class="palette palette__cold2"></div>
        <div class="palette palette__cold3"></div>
      </label>
      <label for="coloroption2" class="selection__options--palette">
        <input id="2" type="radio" value="2" name="palette" class="selection__options--input js-colorOption" />
        <div class="palette palette__hot1"></div>
        <div class="palette palette__hot2"></div>
        <div class="palette palette__hot3"></div>
      </label>
      <label for="coloroption3" class="selection__options--palette">
        <input id="3" type="radio" value="3" name="palette" class="selection__options--input js-colorOption" />
        <div class="palette palette__mix1"></div>
        <div class="palette palette__mix2"></div>
        <div class="palette palette__mix3"></div>
      </label>
    </div>
  </div>
</fieldset>