<fieldset class="section-share container">
  <div class="hidden-content">
    <div class="button-container">
      <button class="share-button js-create-card share-button2">
        <i class="far fa-address-card address-card-icon"></i>crear tarjeta
      </button>
    </div>

    <div class="set-up-container js-response js-hiddenTwitter">
      <!-- <button type="submit" class="twitter-button js-hiddenTwitter">
        <i class="fab fa-twitter twitter-icon"></i>Compartir en twitter
      </button> -->
    </div>
  </div>
</fieldset>
